#userContent {
    // --bs-table-bg: red;

    // #userTable {
    // }
    #userHeader {
        display: flex;
        gap: 20px;

        #userFilter {
            background: #21222D;
            padding: 20px;
            width: 60%;
            // .filter-title{

            // }
            .filter-detail {
                .search-box {
                    display: flex;
                    gap: 20px;

                    >input {
                        background: #171821;
                        color: white;
                        border: none;

                        &::placeholder {
                            color: white;
                        }

                        width: 80%;
                    }

                    >button {
                        background: #171821;
                        color: white;
                        border: none;
                        border-radius: 10px;
                        width: 20%;
                    }
                }
            }
        }

        #userStats {
            background: #21222D;
            padding: 20px;
            width: 40%;

            // .stats-title{
            // }
            .stats-detail {
                display: flex;
                justify-content: center;
                width: 100%;
                gap: 20px
            }
        }
    }

    #userTable {
        margin: 20px 0;

        #userRow:hover {
            --bs-table-bg: !important;
            cursor: pointer;
        }
    }
}