#categoryContent {
    
    #categoryHeader {
        display: flex;
        gap: 20px;

        #categoryFilter {
            background: #21222D;
            padding: 20px;
            width: 60%;
         
            .filter-detail {
                .search-box {
                    display: flex;
                    gap: 20px;

                    >input {
                        background: #171821;
                        color: white;
                        border: none;

                        &::placeholder {
                            color: white;
                        }

                        width: 80%;
                    }

                    >button {
                        background: #171821;
                        color: white;
                        border: none;
                        border-radius: 10px;
                        width: 20%;
                    }
                }
            }
        }

        #categoryStats {
            background: #21222D;
            padding: 20px;
            width: 40%;

            .stats-detail {
                display: flex;
                justify-content: center;
                width: 100%;
                gap: 20px
            }
        }
    }

    #categoryTable {
        margin: 20px 0;
        #categoryRow:hover {
            --bs-table-bg: !important;
            cursor: pointer;
        }
    }
}